PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=srok_sart
DB_SYNC=true

JWT_SECRET=12fbe72a53c59486181d5a3dfb6b91cf6dd4251f757e3ff9802b624ec885ff7f
JWT_EXPIRES_IN=15m

REFRESH_JWT_SECRET=20dab890921eb79790650b00dad3b67c9abde62ec9e9b9fb2fcb3912c28dee9c
REFRESH_JWT_EXPIRES_IN=7d


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

CLIENT_ORIGIN=http://localhost:3000
